<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.secpass">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.Datepicker"></activity>
        <activity android:name=".ui.Reset_Password" />
        <activity android:name=".ui.Pan_Card" />
        <activity
            android:name=".ui.slider"
            android:theme="@style/AppThemetwo" />
        <activity android:name=".ui.profile_screen" />
        <activity android:name=".ui.OnBoarding" />
        <activity
            android:name=".ui.Copy_to_clipbord"
            android:theme="@style/AppThemetwo" />
        <activity android:name=".ui.Forgot_Password" />
        <activity android:name=".ui.Signup" />
        <activity android:name=".ui.Ecommerce_sites" />
        <activity android:name=".ui.social_media_sites" />
        <activity android:name=".ui.Add_PanCard" />
        <activity android:name=".ui.DrivingLIcence" />
        <activity android:name=".ui.SettingActivity" />
        <activity android:name=".ui.AddNameActivity" />
        <activity android:name=".ui.PassportActivity" />
        <activity android:name=".ui.DrivingLicenseActivity" />
        <activity android:name=".ui.AddAddressActivity" />
        <activity android:name=".ui.AddElectionCardActivity" />
        <activity android:name=".ui.AddPanCardActivity" />
        <activity android:name=".ui.AddSocialMediaSites" />
        <activity android:name=".ui.AddEcommerceSitesActivity" />
        <activity android:name=".ui.AddWifiActivity" />
        <activity android:name=".ui.AddPhoneNumberActivity" />
        <activity
            android:name=".ui.DashBoardActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.UserLoginActivity" />
        <activity android:name=".ui.VerifyMainSecPassActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>